{{#required}}{{^isReadOnly}}{{#isNullable}}{{#openApiNullable}}/* @Present */ {{/openApiNullable}}{{/isNullable}}{{^isNullable}}@NotNull{{#vendorExtensions.x-not-null-message}}(message = "{{vendorExtensions.x-not-null-message}}"){{/vendorExtensions.x-not-null-message}} {{/isNullable}}{{/isReadOnly}}{{/required}}