<div class="toast-container">
  @for (toast of toasts; track toast.id) {
    <div class="toast" [ngClass]="toast.type" @toastAnimation>
      <div class="toast-icon">
        @if (toast.type === 'success') {
          <app-icon name="check-circle"></app-icon>
        } @else if (toast.type === 'error') {
          <app-icon name="alert-circle"></app-icon>
        } @else {
          <app-icon name="info-circle"></app-icon>
        }
      </div>
      <div class="toast-message">{{ toast.message }}</div>
      <button class="toast-close" (click)="remove(toast.id)">
        <app-icon name="close" [size]="16"></app-icon>
      </button>
    </div>
  }
</div>
