# Java / Maven
target/
*.class
*.jar
*.war
*.log

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node / Angular
node_modules/
dist/
frontend/ecommerce-app/.angular/
