<div class="star-rating" [class.size-md]="size === 'md'">
  <div class="stars">
    @for (star of stars; track $index) {
      @if (star === 'full') {
        <app-icon name="star" [size]="starSize" class="star star-filled"></app-icon>
      } @else if (star === 'half') {
        <app-icon name="star-half" [size]="starSize" class="star star-half"></app-icon>
      } @else {
        <app-icon name="star-empty" [size]="starSize" class="star star-empty"></app-icon>
      }
    }
  </div>
  @if (showCount && reviewCount !== undefined) {
    <span class="review-count">({{ reviewCount }})</span>
  }
</div>
