<div class="stat-card">
  <div class="stat-icon" [ngClass]="iconBgClass">
    <ng-content select="[icon]"></ng-content>
  </div>

  <div class="stat-content">
    <div class="stat-title">{{ title }}</div>
    <div class="stat-value">{{ value }}</div>
  </div>

  <div class="stat-trend" [ngClass]="trendType === 'up' ? 'trend-up' : 'trend-down'">
    {{ trend }}
    <app-icon *ngIf="trendType === 'up'" name="trend-up" [size]="24"></app-icon>
    <app-icon *ngIf="trendType === 'down'" name="trend-down" [size]="24"></app-icon>
  </div>
</div>
