<div class="pagination">
  <div class="page-info">Showing {{ startItem }} to {{ endItem }} of {{ totalItems }}</div>
  <div class="page-controls">
    <button 
      class="page-btn" 
      [disabled]="currentPage === 1"
      (click)="onPageChange(currentPage - 1)">
      <app-icon name="chevron-left" [size]="24"></app-icon>
    </button>
    
    <button 
      *ngFor="let page of pages" 
      class="page-btn" 
      [class.active]="currentPage === page"
      (click)="onPageChange(page)">
      {{ page }}
    </button>
    
    <button 
      class="page-btn" 
      [disabled]="currentPage === totalPages"
      (click)="onPageChange(currentPage + 1)">
      <app-icon name="chevron-right" [size]="24"></app-icon>
    </button>
  </div>
</div>
