<div class="form-group" [class.has-error]="hasError">
  <label [for]="id">{{ label }}</label>
  <div class="input-wrapper">
    <div class="icon-container">
      <ng-content select="[icon]"></ng-content>
    </div>
    <input
      [id]="id"
      [type]="type"
      [placeholder]="placeholder"
      [attr.autocomplete]="autocomplete"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onTouched()"
    />
  </div>
  @if (hasError && errorMessage) {
    <div class="field-error">
      {{ errorMessage }}
    </div>
  }
</div>
